@use "./transition.scss" as *;
@use "./element-ui.scss" as *;
@use "./spod.scss" as *;
body {
    height: 100vh;
    min-height: 100vh;
    color: var(--el-text-color-primary);
    background: var(--el-bg-color);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family:
        "MicrosoftYaHei",
        // "微软雅黑 Bold",
        // "微软雅黑 Regular",
        // "微软雅黑",
        Helvetica,
        Arial,
        San Francisco,
        Helvetica Neue,
        PingFang SC,
        Hiragino Sans GB,
        sans-serif;
}
#app {
    height: 100%;
    min-height: 100vh;
    // min-width: 1920px;
    width: 100%;
    overflow: auto;
}
*,
::after,
::before {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--el-border-color);
    opacity: 0.3;
}
.no-event {
    pointer-events: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.pagination-container {
    margin-top: 15px;
}

.text-center {
    text-align: center;
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

// .el-button {
//     font-size: 12px !important;
// }
//文本按钮
.reset {
    border: none !important;
    text-decoration: underline;
}

