$sizes: (0, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30);
@each $size in $sizes {
  .m-#{$size} {
    margin: #{$size}px;
  }
  .mx-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
  .my-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .p-#{$size} {
    padding: #{$size}px;
  }
  .py-#{$size} {
    padding-top: #{$size}px;
    padding-bottom: #{$size}px;
  }
  .px-#{$size} {
    padding-left: #{$size}px;
    padding-right: #{$size}px;
  }
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
  .pl-#{$size} {
    padding-left: #{$size}px;
  }
}

$font-sizes: (10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30);
@each $size in $font-sizes {
  .fz-#{$size} {
    font-size: #{$size}px;
  }
}
